---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Problem from '../components/Problem.astro'
import HowItWorks from '../components/HowItWorks.astro'
import Scorecard from '../components/Scorecard.astro'
import PracticeLoop from '../components/PracticeLoop.astro'
import Closer from '../components/Closer.astro'
import Footer from '../components/Footer.astro'
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <HowItWorks />
    <Scorecard />
    <PracticeLoop />
    <Closer />
  </main>
  <Footer />
</Base>
